*__pycache__*
*.egg-info/
.coverage
*cov/**

.vscode/

build
docs/build
docs/source/*rst
examples/samples
examples/export
docs/md
docs/source/_generated
!docs/source/index.rst
!docs/source/references.rst
!docs/source/python_api.rst
!docs/source/show_options.rst
!docs/source/details.rst
!docs/source/CONTRIBUTING.rst
