# automatic run setup
#   $ pre-commit install
#
# manual
#   $ pre-commit run -a

# use default options for ci
ci:
  autoupdate_schedule: "weekly"
  submodules: false

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: "v6.0.0"
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/psf/black-pre-commit-mirror
  rev: "25.9.0"
  hooks:
  - id: black
    args: [--line-length=79]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.3
  hooks:
    - id: ruff-check
      args: [
        --fix,
        --exit-non-zero-on-fix,
      ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    args: [-w]

- repo: https://github.com/keewis/blackdoc
  rev: v0.4.5
  hooks:
  - id: blackdoc
    args: [--line-length=75]
