name: format check and runs tests

on:
  pull_request:
    branches: ["main"]

jobs:
  build_and_tests:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up  ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: install gustaf
        run: |
          pip install .[test]

      - name: prepare test and test
        run: |
          python3 -m pip install pytest
          pytest tests
