name: format check and runs tests

on:
  pull_request:
    branches: ["main"]

jobs:
  build_and_tests:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-20.04, macos-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Set up  ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: install gustaf
      run: |
        python3 -m pip install numpy splinepy scipy
        python3 setup.py install

    - name: prepare test and test
      run: |
        python3 -m pip install pytest
        pytest tests
